.Message {
  background-color: rgb(245, 238, 255);
  max-width: 30%;
  height: inherit;
  padding: 10px 20px;
  box-sizing: border-box;
  opacity: 0.8; 
  border-radius: 20px;
  align-self: flex-end;
}
.Message--robot {
  align-self: flex-start;
  max-width: 30%;
}
.Message:not(:last-child) {
  margin-bottom: 20px;
}