.Message {
    align-self: flex-end;
    width: 30%;
    padding: 5px 15px;
    border-radius: 20px;
    background: lightskyblue;
    font-size: 18px;
}

.Message--robot {
    align-self: flex-start;
}

.Message:not(:last-child) {
    margin-bottom: 10px;
}

.Message-sender {
    color: gray;
    font-size: 14px;
}