.nav-bar {
  flex-basis: 30%;
  background-color: #38B2CE;

  ul {
    list-style-type: none;

    li {
      padding: 20px;
      color: #3f3f3f;
      margin-bottom: 10px;
      font-size: 22px;
      border-bottom: 1px solid #37bdd9;
    }
  }
}

