.react-messenger__message {
    background-color: lightcoral;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 18px;
    margin: 5px;
    align-self: flex-start;
}

.react-messenger__message-bot{
    align-self: flex-end;
}

.react-messenger__message-name {
    color: lightgray;
    font-size: 14px;
}