.Message {
  background-color: lightskyblue;
  padding: 5px;
  border-radius: 5px;
  width: 30%;
  align-self: flex-start;
}

.Message:not(:last-child) {
  margin-bottom: 20px;
}

.Message--robot {
  align-self: flex-end;
}
