.layout-chat {
    height: 100%;
    width: 50%;
    margin: auto;
}

.layout-canvas {
    height: 50%;
    width: 100%;
display: flex;
}

.layout-left-side {
    width: 30%;
    display: flex;
}

.layout-right-side {
    width: 70%;
    display: flex; 
}