.message-field {
    display: flex;
    flex-direction: column;
    background-color: #e2e2e2;
    height: 50%;
    width: 100%;
    padding: 20px;
    overflow-y: scroll;
 }

 .layout {
    height: 100%;
    width: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
 }
 
 .message {
    background-color: lightblue;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 18px;
    margin: 5px;
 }
 
 .message-sender {
    color: gray;
    font-size: 14px;
 }
 
 /* .button {
    border-radius:7px;
    background-color: lightblue;
    padding: 10px;
    font-weight: 700;
    border-style: none;
 }

 .input-field {
   width: 300px;
   margin: 10px;
   font-size: 20px;
   border-radius: 5px;
} */
 