body {
   height: 100%;
   margin: 0;
}

#root {
   height: 100%;
}
 .txt-field {
   width: 100%;
   display: flex;
 }

 .message-sender {
   color: gray;
   font-size: 14px;
}
.message {
   background-color: rgb(239, 243, 245);
   padding: 5px 15px;
   border-radius: 20px;
   font-size: 18px;
   margin: 5px;
   align-self: flex-end;
}
.messageRobot {
   background-color: lightblue;
   align-self: flex-start;
}

.message-field {
   display: flex;
   flex-direction: column;
   background-color: #e2e2e2;
   height: 50%;
   width: 100%;
   padding: 20px;
   overflow-y: scroll;
}
.layout {
   height: 100%;
   width: 50%;
   margin: 40px auto;
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
}
.layout h1 {
   font-size: 30px;
   color: gray;
   margin: 40px auto;
}
.layout p {
   font-size: 30px;
   color: darkgray;
   margin: 0 auto;
}
.layout-canvas {
   height: 60%;
   width: 100%;
   display: flex;
}

.layout-left-side {
   height: 100%;
   width: 30%;
   background-color: rgb(210, 238, 247);
}

.layout-right-side {
   height: 100%;
   width: 70%;
}
.header {
   width: 50%;
   height: 40px;
   font-size: 22px;
   font-weight: bold; 
   display: flex;
   align-items: center;
   flex-direction: row;
   justify-content: space-between;
   align-self: flex-end;
}
.profileLink {
   margin: 0 10px 0 0;
   color: gray;
   display: flex;
   align-items: center;
   text-decoration: none;;
}
.profileAvatar {
   margin: 0 10px 0 0;
   color: #3cc2d1;
}
.listLink {
   text-decoration: none;
}
.listLink:hover {
   font-weight: bold;
}
.activeChat {
   font-weight: bold;
}
.backLink {
color: white;
text-decoration: none;
background-color: #66D7E5;
font-size: 20px;
padding: 5px 10px;
border-radius: 5px;
margin: 50px 0 0 0;
}