.layout-wrap {
    min-width: 320px;
    max-width: 700px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 7px;
    border: 1px solid black;
    background-color: #FFFFFF;
}

@media screen and (max-width: 479px) {
    .layout-wrap {
        width: 50%;
    }
}