.message {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #fdb;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px #555;
    width: 40%;
    align-self: flex-end;
}
.message--robot {
    align-self: flex-start;
}
.message:not(:last-child) {
    margin-bottom: 5px;
}
.messageUserName {
    color: white;
    text-shadow: 1px 1px 3px black;
}