.header {
    display: flex;
    justify-content: space-between;
}
.header-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.header-link {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: right;
    align-self: center;
}