.header {
    width: 100%;
    text-align: center;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    background-color: #8ac2e6;
    border-bottom: 1px solid #FFFFFF;
    color: #FFF;
    margin: 0;
}