.ChatList {
  background-color: red;
  width: 30%;
  height: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-self: flex-start;
  float: left;
}
.ListItemAvatar {
  padding: 20px;
  box-sizing: border-box;
}