.container{
    width: 70%;
    height: 500px;
    margin: 0;
    background-color: aliceblue;
    padding: 30px;
    display: flex;
    flex-direction: column;
    border: 1px solid darkgray;
    overflow-y: auto;
    padding: 10px;
    position: absolute;
    top: 100px;
    left: 30%;
}
