.Profile{
    position: absolute;
    top: 100px;
    left: 30%;
    height: 500px;
    width: 70%;
    overflow-y: auto;
    background-color: powderblue ;
    padding: 20px;
}
.Profile__avatar{
    background-color: white;
}