.message {
  background-color: #dbdbdb;
  padding: 15px 15px;
  border-radius: 5px;
  width: 30%;
  align-self: flex-end;
}

.message--robot {
  align-self: flex-start;
}

.message:not(:last-child){
  margin-bottom: 20px;
}
