.react-messenger__wrapper {
    display: flex;
    width: 100%;
    height: 100%;
}

.react-messenger__header {
    color: #333333;
}

.react-messenger__chatlist {
    width: 30%;
}

.react-messenger__message-field {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.react-messenger__messages {
    display: flex;
    flex-direction: column;
    background-color: #e2e2e2;
    height: 50%;
    width: 100%;
    padding: 20px;
    overflow-y: scroll;
    box-sizing: border-box;
}

.react-messenger__message {
    background-color: lightcoral;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 18px;
    margin: 5px;
}

.react-messenger__message-name {
    color: lightgray;
    font-size: 14px;
}
