.message {
  background-color: lightskyblue;
  padding: 10px 20px;
  border-radius: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 30%;
  align-self: flex-end;
  overflow-wrap: break-word;
}

.message--robot {
  align-self: flex-start;
}

.message:not(:last-child) {
  margin-bottom: 20px;
}

.content {
  font-size: 18px;
}

.author {
  color: #fff;
  font-size: 14px;
}

.date {
  color: #eee;
  font-size: 12px;
  padding: 2px 0;
}