.header {
    padding: 30px 0;
}

.logo {
    padding: 0 50px;
    font-size: 24px;
    color: rgb(0, 188, 212);
    text-decoration: none;
}

.main {
    display: flex;
    justify-content: space-evenly;
}

.ChatList {
    width: 30%;
    text-transform: capitalize;
}

.chat {
    font-size: 20px;
}

.message-field {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 70%;
}

.messages {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 50%;
    width: 100%;
    padding: 20px;
    background-color: #e2e2e2;
    overflow-y: scroll;
}

.message {
    background-color: lightblue;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 18px;
    margin: 5px;
}

.user-message {
    display: flex;
    width: 100%;
}

.message-sender {
    color: gray;
    font-size: 14px;
}
