.chatlist-wrap {
    background-color: #8ac2e6;
    border-bottom-left-radius: 7px;
    width: 25%;
    color: #FFFFFF;
}
.chatlist-wrap .chatlist__item {
    padding-left: 15px;
    padding-right: 15px;
}
.chatlist__item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.chatlist__item:hover {
    cursor: pointer;
    background-color: #70a6cb;
}
.chatlist__item .chatlist__item_icon {
    min-width: 35px;
    color: #FFFFFF;
}

@media screen and (max-width: 479px) {
    .chatlist__item .chatlist__item_icon {
        min-width: 10px;
    }
}
