.chatForm {
    margin: 10px 0 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.chatFormUserName {
    width: 200px;
}
.chatFormTextMessage {
    width: 600px;
}