.ChatList {
    width: 30%;
    text-transform: capitalize;
}

.MuiListItem-gutters {
    font-size: 20px;
}

.avatar {
    padding-right: 10px;
    color: grey;
}

.unread {
    padding: 3px 0 0 10px;
    font-size: 10px;
    color: red;
}