body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.counter {
  padding: 20px;
  display: flex;
  align-items: center;
  border-radius: 5.5rem;
  background-color: #005792;
}

.counter__btn {
  padding: 0;
  width: 140px;
  font-family: sans-serif;
  font-size: 120px;
  color: #13334c;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.counter__btn:hover {
  filter: brightness(0.25);
}

.counter__count {
  min-width: 140px;
  font-family: sans-serif;
  font-size: 120px; 
  color: #f6f6e9; 
  text-align: center;
}

.trigger {
  display: block;
  margin: 20px auto;
  border: 0;
  font-size: 20px;
  color: #13334c;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.random {
  display: block;
  margin: 20px auto;
  font-size: 40px; 
}