.wrapper-appPosts {
    display: flex;
    flex-direction: row;
    justify-content: start;
}
.messageList {
    width: 367px;
    height: 400px;
    border: 2px solid rgb(56, 56, 255);
    background-color: rgb(144, 251, 255);
}