.title-profile {
  position: absolute;
  right: 28px;
}
.title-chat * {
  color: #fff;
  text-decoration: none;
  margin-right: 80px;  
}

.title-chat  {
  display: flex;
  justify-content: space-between;
}